.form-card {
  .top {
    display: inline-block;
    width: 977px;
    height: 88px;
    background-color: #829fc1;
    border-top-right-radius: 50px;
  }
  .bottom {
    display: inline-block;
    width: 977px;
    height: 471px;
    background-color: white;
    border-bottom-left-radius: 50px;
    box-sizing: border-box;
  }
  h2 {
    float: left;
    margin: 0;
    margin-left: 43px;
    font-size: 28px;
    line-height: 88px;
    text-align: left;
    color: #ffffff;
  }
  .description {
    float: right;
    margin: 0;
    line-height: 88px;
    font-family: 'KHNPHanuoolim', sans-serif;
    font-size: 21px;
    text-align: left;
    color: #ffffff;
  }
}