.main-header{
    width: 1920px;
    height: 668px;
    margin : 0px auto;
    border: solid 1px red;
}

.main-header-text{
    width: 777px;
    height: 150px;
    margin-top : 273px;
    margin-left :  320px;
    font-size: 70px;
    line-height: 1.09;
    color: #707070;
    font-family: 'KHNPHandotum';
    border: solid 1px blue;
}

.main-header-description{
    width: 477px;
    height: 48px;
    margin-top: 16px;
    margin-left: 327px;
    font-family: 'KHNPHandotum';
    font-size: 21px;
    line-height: 1.1;
    text-align: left;
    color: #707070;
}

.illust{
    width: 594px;
    height: 400px;
    border: solid 1px #50e3c2;
    position: absolute;
    right: 200px;
    top:297px;
}

.main-search-group{
    width: 1280px;
    height: 661px;
    margin: 0px auto;
    border: solid 1px #50e3c2;

}

.main-search-bar{
    width: 1280px;
    height: 190px;
    opacity: 0.8;
    background-color: #f0f2f1;
    margin-bottom: 105px;
}

.main-search-bar-element{
    display: inline-block;
}

.main-search-tag-title{
    width: 395px;
    height: 56px;
    font-family: 'KHNPHandotum';
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.main-search-tag-selected{
    width: 1266px;
    height: 60px;
    margin: 29px auto 32px auto;
    border: solid 1px #50e3c2;
    
}

.main-search-tags{
    width: 1280px;
    height: 190px;
    opacity: 0.1;
    border-radius: 50px;
    background-color: #829fc1;
}

.main-matefit-info{
    height: 200px;
    margin : 155px auto 198px auto;
    border: solid 1px red;
}