@font-face {
    font-family: 'KHNPHandotum';
    src: local('KHNPHandotum Bold'), local('KHNPHDBold'),
        url('KHNPHDBold.woff2') format('woff2'),
        url('KHNPHDBold.woff') format('woff'),
        url('KHNPHDBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KHNPHandotum';
    src: local('KHNPHandotum'), local('KHNPHDRegular'),
        url('KHNPHDRegular.woff2') format('woff2'),
        url('KHNPHDRegular.woff') format('woff'),
        url('KHNPHDRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'KHNPHanuoolim';
    src: local('KHNPHanuoolim'), local('KHNPHURegular'),
        url('KHNPHURegular.woff2') format('woff2'),
        url('KHNPHURegular.woff') format('woff'),
        url('KHNPHURegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

