.upload-container {
    background-color: #ffffff;
    padding-bottom: 100px;
  }
  
  .upload {
    font-family: 'KHNPHandotum', sans-serif;
    font-size: 28px;
    width: 977px;
    margin: 0 auto;
    color: #707070;
  
    .upload-submit {
      font-family: inherit;
      border: none;
      width: 376px;
      height: 60px;
      background-color: #eb6958;
      color: white;
      font-size: 28px;
      display: block;
      margin: 57px auto 0 auto;
    }
      
    .illust{
      width: 776px;
      height: 276px;
      border: solid 1px #50e3c2;
      padding-top: 72px;
      margin: 72px auto 77px auto;
    }
  
    .form-card {
      padding-top: 50px;
    }
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin: 24px auto;
  
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .upload-description{
    border:none;
    width: 893px;
    height: 392px;
    font-family: 'KHNPHanuoolim';
    font-size: 21px;
    background-color: transparent;
    padding: 42px 41px 37px 43px;
  }

  .form-input {
    border: none;
    border-bottom: 4px solid #829fc1;
    font-family: inherit;
    color: inherit;
    height: 46px;
    font-size: 28px;
    margin-left: 12px;
    margin-right: 12px;
    box-sizing: border-box;

    & #name {
      width: 300px;
    }
  
    &#email, &#residence {
      flex: 1;
    }
  }
  
  .basic-info {
    padding: 85px 43px;
  }
  
  .setting-container{
    padding-top: 55px;
    padding-left: 49px;
  }

  .setting-content-group{
    padding-bottom: 56px;
  }

  .radio-tag-group{
    display: inline-block;
    margin-right: 100px;
  }

  .radio-label{
    margin-right: 18px;
  }

  input[type=radio]{
    margin-right: 8px;
  }

  input[type=checkbox]{
    margin-right: 8px;
  }
  .upload .form-card .bottom {
    background-color: #f0f2f1;
  }

  .form-card:last-child {
    margin-top: 136px;
  }

  .subject {
    margin-right: 30px;
  }
  .post-period{
    display: inline;
  }


  .before-check-text{
    width: 776px;
    height: 40px;
    font-family: 'KHNPHanuoolim';
    font-size: 21px;
    color: #707070;
    line-height: 1.43;
    margin:0px auto;
    text-align: center;
  }

  .before-check-radio{
    width: 776px;
    height: 40px;
    font-family: 'KHNPHanuoolim';
    font-size: 21px;
    line-height: 1.43;
    color: #707070;
    text-align: center;
    margin:22px auto 43px auto;
  }

